@model List<GetCarQueryResult>
@{
    ViewData["Title"] = "CarList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Araç Listesi</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Araç Resim / Marka </th>
                            <th scope="col">Araç Model</th>
                            <th scope="col">Araç KM</th>
                            <th scope="col">Vites Tipi</th>
                            <th scope="col">Sil</th>
                            <th scope="col">Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="@item.ImageUrl">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">@item.CarBrand</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @item.CarModel
                                </td>
                                <td>
                                    @item.CarKM
                                </td>
                                <td>
                                    @item.CarGearType
                                </td>
                                <td><a href="/Admin/RemoveCar/@item.CarID" class="btn btn-warning">Sil</a></td>
                                <td><a href="/Admin/UpdateCar/@item.CarID" class="btn btn-info">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <br />
        <td><a href="/Admin/CreateCar/" class="btn btn-primary">Yeni Araç Girişi</a></td>
    </div>
</div>

